@model IEnumerable<LMS.DATA.EF.Lesson>

@{
    ViewBag.Title = "Index";
}

<div class="bradcam_area breadcam_bg overlay2">
    <h3>Lessons</h3>
</div>

<div class="container">
    @if (User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {
        <br/>
        <p>
            <a href="@Url.Action("Create", "Lessons")" class="genric-btn primary-border circle">Create New</a>
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
            {
                <th></th>
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                {
                    <td>
                        <a href="@Url.Action("Edit", "Lessons", new RouteValueDictionary(new { id = item.LessonId }))" class="genric-btn info-border small">Edit</a>
                        <a href="@Url.Action("Details", "Lessons", new RouteValueDictionary(new { id = item.LessonId }))" class="genric-btn info-border small">Details</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "Lessons", new RouteValueDictionary(new { id = item.LessonId }))" class="genric-btn danger-border small">Delete</a>
                    </td>
                }
            </tr>
        }
    </table>
</div>